* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 100%;
    font-family: 'Ubuntu', Arial, sans-serif;
  }
  
  body {
    background: url(../css/fonts/grid.png), radial-gradient(#700961, #000000);
border-radius: 50%;

height: 100vh;
  }
  
  main {
    width: 1020px;
    margin: auto;
  }
  
  .keyboard {
    display: grid;
    grid-row-gap: 5px;
    padding: 10px;
    border: 1px solid;
    position: relative;
    overflow: hidden;
    background: #040208;
    border-radius: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid rgb(78 89 166);
  }
  
  .keyboard__row {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 10px;
    height: 50px;
  }
  
  .keyboard__key {
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #000000;
   

  
    box-shadow: inset rgb(3 4 20 / 75%) -1px -1px 2px, inset #ffffff 1px 1px 2px, rgb(255 255 255) 1px 1px 2px -1px;
  }



  
  
  [data-fn="false"].active {
    box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,.9), inset 0 0 20px 2em rgba(57, 40, 133, 0.2);
  }
  
  [data-fn="true"].active {
    box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,.9), inset 0 0 20px 2em rgba(255,255,255, 0);
  }
  
  [data-fn="false"].active .letter,
  [data-fn="true"].active .letter {
    transform: translateY(1px)  ;
    -webkit-transform: translateY(1px)  ;
    -moz-transform: translateY(1px)  ;
    -ms-transform: translateY(1px)  ;
    -o-transform: translateY(1px)  ;
    color: #170a35;
  }
  
  [data-fn="true"] {
    background: rgb(67 22 68) radial-gradient(circle at 0 0, rgb(13 15 120 / 87%), rgba(15, 10, 82, 0.35));
    box-shadow: inset rgb(3 4 20 / 75%) -1px -1px 2px, inset rgb(205 205 205 / 90%) 1px 1px 2px, rgb(255 255 255 / 80%) 1px 1px 2px -1px;
  }
  
  [data-fn="true"] > .letter {
    font-size: 16px;
  }
  
  [data-code="CapsLock"] {
    width: 86px;
  }
  
  [data-code="ShiftLeft"] {
    width: 100px;
  }
  
  [data-code="ShiftRight"] {
    width: 120px;
  }
  
  [data-code="Enter"] {
    width: 100px;
  }
  
  [data-code="Tab"] {
    width: 76px;
  }
  
  [data-code="ControlLeft"] {
    width: 76px;
  }
  
  [data-code="ControlRight"] {
    width: 60px;
  }
  
  [data-code="Backspace"] {
    width: 115px;
  }
  
  [data-code="Space"] {
    background: #170a35 radial-gradient(circle at 0 0, rgb(43 22 69 / 90%), rgb(10 8 35 / 35%));
    box-shadow: inset rgb(0 0 0 / 75%) -1px -1px 2px, inset rgb(255 255 255 / 90%) 1px 1px 2px, rgb(255 255 255 / 80%) 1px 1px 2px -1px;


    width: 420px;
  }
  
  [data-code="AltLeft"],
  [data-code="AltRight"] {
    width: 76px;
  }
  
  [data-code="KeyD"],
  [data-code="KeyS"],
  [data-code="KeyA"],
  [data-code="KeyW"],
  [data-code="ArrowLeft"],
  [data-code="ArrowUp"],
  [data-code="ArrowDown"],
  [data-code="ArrowRight"] {
    background: #470359;
  }
  
  
  .active {
    background: #cc4bfd;
  }
  
  .letter {
    font-size: 23px;
    width: 100%;
    text-align: center;
    transition: all .2s ease;
    transform-origin: center;
    
font-family: 'Aleo';
font-style: normal;
font-weight: 400;

color: #FFFFFF;
  }
  
  .subtitle, .switch {
    color: rgba(7, 6, 12, 0.687);
    text-align:center;
        font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 96px;
    
    color: #FFFFFF;
;
  }
  .title {
    text-align:center;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 60px;
    line-height: 96px;
    
    color: #FFFFFF;
  }
  
  textarea.output {
    resize: none;
    width: 100%;
    height: 280px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
    
    background: #ffffff;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    color: #000000;

  }
  
  .sub {
    width: 100%;
    text-align: -webkit-right;
    transition: all .2s ease;
    width: 50%;
    font-size: 15px;
    font-family: 'Aleo';
font-style: normal;
font-weight: 400;

color: #fd4be4
 
  }
  
  .sub.sub-active:not(:empty) {
  
    padding: 0;
    font-size: 18px;
    width: 50%;
    width: 50%;

  }
  
  .sub.sub-active:not(:empty) ~ .letter.sub-inactive {
    font-size: 20px;
    width: 100%;
    text-align: center;
    transition: all .2s ease;
    transform-origin: center;
  }


  
