* {
    margin: 0;
    padding: 0;
  }
  
  html {
    font-size: 100%;
    font-family: 'Ubuntu', Arial, sans-serif;
  }
  
  body {
    background:
    radial-gradient(circle at 50% 0,
      rgba(255,0,0,.5),
      rgba(255,0,0,0) 70.71%),
    radial-gradient(circle at 6.7% 75%,
      rgba(0,0,255,.5),
      rgba(0,0,255,0) 70.71%),
    radial-gradient(circle at 93.3% 75%,
      rgba(0,255,0,.5),
      rgba(0,255,0,0) 70.71%) beige;
border-radius: 50%;
  }
  
  main {
    width: 1020px;
    margin: auto;
  }
  
  .keyboard {
    display: grid;
    grid-row-gap: 5px;
    padding: 10px;
    border: 1px solid;
    position: relative;
    overflow: hidden;
    background: #172b8e6e;
    border-radius: 3px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    border: 2px solid rgb(78 89 166);
  }
  
  .keyboard__row {
    display: grid;
    grid-gap: 10px;
    grid-row-gap: 10px;
    height: 50px;
  }
  
  .keyboard__key {
    display: flex;
    cursor: pointer;
    border-radius: 10px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: rgb(9 142 163);
   

  
    box-shadow: inset rgb(3 4 20 / 75%) -1px -1px 2px, inset rgb(68 79 183 / 90%) 1px 1px 2px, rgb(0 0 0 / 80%) 1px 1px 2px -1px;



  }
  
  [data-fn="false"].active {
    box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,.9), inset 0 0 20px 2em rgba(57, 40, 133, 0.2);
  }
  
  [data-fn="true"].active {
    box-shadow: inset 0px 1px 2px 1px rgba(0,0,0,.9), inset 0 0 20px 2em rgba(255,255,255, 0);
  }
  
  [data-fn="false"].active .letter,
  [data-fn="true"].active .letter {
    transform: translateY(1px)  ;
    -webkit-transform: translateY(1px)  ;
    -moz-transform: translateY(1px)  ;
    -ms-transform: translateY(1px)  ;
    -o-transform: translateY(1px)  ;
    color: #170a35;
  }
  
  [data-fn="true"] {
    background: rgb(47 142 162) radial-gradient(circle at 0 0, rgba(6, 67, 104, 0.65), rgba(15, 10, 82, 0.35));
    box-shadow: inset rgba(3, 4, 20, 0.75) -1px -1px 2px, inset rgba(68, 79, 183, 0.9) 1px 1px 2px, rgba(0,0,0,.8) 1px 1px 2px -1px;
  }
  
  [data-fn="true"] > .letter {
    font-size: 16px;
  }
  
  [data-code="CapsLock"] {
    width: 86px;
  }
  
  [data-code="ShiftLeft"] {
    width: 100px;
  }
  
  [data-code="ShiftRight"] {
    width: 120px;
  }
  
  [data-code="Enter"] {
    width: 100px;
  }
  
  [data-code="Tab"] {
    width: 76px;
  }
  
  [data-code="ControlLeft"] {
    width: 76px;
  }
  
  [data-code="ControlRight"] {
    width: 60px;
  }
  
  [data-code="Backspace"] {
    width: 115px;
  }
  
  [data-code="Space"] {
    background: rgb(47 142 162) radial-gradient(circle at 0 0, rgba(6, 67, 104, 0.65), rgba(15, 10, 82, 0.35));
    box-shadow: inset rgb(3 4 20 / 75%) -1px -1px 2px, inset rgb(68 79 183 / 90%) 1px 1px 2px, rgb(0 0 0 / 80%) 1px 1px 2px -1px;


    width: 420px;
  }
  
  [data-code="AltLeft"],
  [data-code="AltRight"] {
    width: 76px;
  }
  
  [data-code="KeyD"],
  [data-code="KeyS"],
  [data-code="KeyA"],
  [data-code="KeyW"],
  [data-code="ArrowLeft"],
  [data-code="ArrowUp"],
  [data-code="ArrowDown"],
  [data-code="ArrowRight"] {
    background: rgb(226, 253, 75);
  }
  
  
  .active {
    background: rgb(198, 212, 0);
  }
  
  .letter {
    font-size: 23px;
    width: 100%;
    text-align: center;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform-origin: center;
  }
  
  .subtitle, .switch {
    color: rgb(14, 6, 68);
    text-align:center;
;
  }
  .title {
    text-align:center;
    color: rgb(14, 6, 68);
  }
  
  textarea.output {
    resize: none;
    width: 100%;
    height: 280px;
    padding: 20px;
    box-sizing: border-box;
    font-size: 18px;
    letter-spacing: 1px;
    margin-top: 20px;
    
 
  }
  
  .sub {
    width: 100%;
    color: #e2fd4ba8;
    text-align: -webkit-right;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    width: 50%;
    font-size: 15px;
 
  }
  
  .sub.sub-active:not(:empty) {
  
    padding: 0;
    font-size: 18px;
    width: 50%;
    width: 50%;

  }
  
  .sub.sub-active:not(:empty) ~ .letter.sub-inactive {
    font-size: 20px;
    width: 100%;
    text-align: center;
    transition: all .2s ease;
    -webkit-transition: all .2s ease;
    -moz-transition: all .2s ease;
    -ms-transition: all .2s ease;
    -o-transition: all .2s ease;
    transform: translateX(0);
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform-origin: center;
    color: rgba(11, 33, 37, 0.502);
    

  }
  
  @keyframes fadeInOut {
    0% {
      opacity: 0.5;
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -moz-transform: scale(0.8);
      -ms-transform: scale(0.8);
      -o-transform: scale(0.8);
  }
    50% {
      opacity: 1;
      transform: scale(1.5);
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
  }
    100% {
      opacity: 0;
      transform: scale(2.5);
      -webkit-transform: scale(2.5);
      -moz-transform: scale(2.5);
      -ms-transform: scale(2.5);
      -o-transform: scale(2.5);
  }
  }